html {
  margin: auto;
  width: 70%;
}

.header {
  height: 500px;
  background: center url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png");
  position: relative;
  margin: 0;
  padding: 0;
  background-size: cover;
  border-top: solid black 5px;
  display: flex;
}

.headerText{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 300px;
  font-family: 'Abril Fatface', cursive;
  color: #222;
}

.headerText h1 {
  font-size: 70px;
  padding: 0;
  margin-bottom: 40px;
  margin-top: 0;
}

.headerText h2 {
  font-size: 40px;
  padding: 0;
  margin-bottom: 0;
}

body {

}

.analytic {
  margin: auto;
  width: 59%;
  margin-top: 60px;
  font-family: 'Josefin Sans', sans-serif;
}

.analytic p {
  font-size: 20px;
  color: #222;
}

.analytic li {
  font-size: 20px;
  margin-left: 30px;
  list-style-type: square;
  margin-top: 10px;
}

.together {
  background: #444444;
  width: 65%;
  margin: auto;
  margin-top: 60px;
  height: 180px;
  
  color: white;
  font-size: 50px;
  font-family: 'Abril Fatface', cursive;
  margin-bottom: 80px;
  position: relative;
}

.together::before {
  content: '”';
  color: white;
  font-size: 150px;
  font-family: 'Abril Fatface', cursive;
  position: absolute;
  height: 100%;
}

.togetherText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.achiev {
  margin: auto;
  width: 59%;
  font-family: Josefin Sans;
}

.achiev-head {
  text-transform:uppercase;
  margin-bottom: 50px;
  margin-top: 50px;
}

.achiev p{
  margin-top: 50px;
}

.achiev h2{
  margin-top: 50px;
}

.ifind {
  background: #444444;
  width: 65%;
  margin: auto;
  margin-top: 60px;
  height: 180px;
  
  color: white;
  font-size: 50px;
  font-family: 'Abril Fatface', cursive;
  margin-bottom: 80px;
  position: relative;
}

.ifind::before {
  content: '”';
  color: white;
  font-size: 150px;
  font-family: 'Abril Fatface', cursive;
  position: absolute;
  height: 100%;
}


.ifindText {
  display: flex;
  margin-left: 80px;
  padding: 0;
}

.ifindText p {
  margin: 0;
  margin-top: 15px;
}

.ifind-head {
  margin: auto;
  width: 59%;
  font-family: Josefin Sans;
  margin-bottom: 50px;
}

.ifind-header {
  text-transform:uppercase;
  margin-bottom: 50px;
  margin-top: 50px;
}

.ifind-head #sith{
  font-size: 25px;
  margin-bottom: 5px;
}

.ifind-head #supreme{
  font-size: 20px;
  margin-top: 0;
  font-style: italic;
}

.ifind-head li{
  font-size: 15px;
  margin-left: 30px;
  list-style-type: square;
  margin-top: 10px;
}

.ifind-head #wally{
  font-size: 25px;
  margin-bottom: 5px;
  padding-top: 30px;
}

.ifind-head #enslaved{
  font-size: 20px;
  margin-top: 0;
  font-style: italic;
}  
 

.when {
  background: #444444;
  width: 65%;
  margin: auto;
  margin-top: 60px;
  height: 250px;
  
  color: white;
  font-size: 50px;
  font-family: 'Abril Fatface', cursive;
  margin-bottom: 80px;
  position: relative;
}

.when::before {
  content: '”';
  color: white;
  font-size: 150px;
  font-family: 'Abril Fatface', cursive;
  position: absolute;
  height: 100%;
}

.whenText {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 60px;
}

.formal {
  margin-bottom: 50px;
}

.empire {
  margin-bottom: 50px;
}

.jedi {
  margin-bottom: 50px;
  border-bottom: solid black 5px;
  padding-bottom: 50px;
}